<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          I am pursuing a degree in Computer Science. I have keen interest in Competitive Programming 
          & Web Development. I am fond of playing Cricket & solving Big-O complexities. When I'm not glued to a 
          computer screen, I'm likely exploring the mighty Universe.  I love building things, my expertise 
          is in building scalable backend services like API services, stream processing, and async mechanisms.
        </p>
        <p>
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a Software Developer role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management. 
           For any query or a fruitful discussion, you may connect with me on LinkedIn. 
           Would love to share & learn new things.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Deployed an innovative Nodejs Web Application built on Express Engine having on-demand API services.
    			</li>
          <li>
            Google: 
            <ul>
              <li>
                HashCode 2020 Rank 1874th
              </li>
              <li>
                CodeJam 2020 Round 2nd
              </li>
              <li>
                Kick Start 2020 Rank 2574th
              </li>
            </ul>    
          <li>
            Facebook Hacker Cup: Round 2 (Ongoing) TechGig Code Gladiator 2020 Finalist
    			<li>
            Selected in Google GCP Crash Course 2020 & Crio.Do Launch Program 2020.
    			</li>
    			<li>
            Awarded scholarship for UP CST Talent Search Program aided with stipend.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
