<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Competitive Programming </b>. It's an exciting time for Competitive Programming. The world of Data Structures & Algorithms is so sacred. I'm working through to develop strong fundamentals & hone my coding skills further more.
			  </li>
			  <li>
				  <b>Technical Writing</b>. I've been an enthusiastic hobbiest since I was a teenager - but only as an adult am I able to afford the higher-quality
          tools. Whatever I do I like to document to enhance its usage. I have my well-sound tech. articles published on Section Engineering Website.
			  </li>
			  <li>
				  <b>Quizzing</b>. Since childhood I have the zeal to learn new things. This habits has lead me to the profressional Quizzing Circuit. 
				  This helps me in both in my Technical Work as well as creating General Awareness.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
		   The Falcon Heavy based On SpaceX super aircraft- INSAT Weather is an innovative Nodejs Web Application built on Express Engine. 
		   It fetches data from API & brings all the required information.
    		</li>
  			<li>
          I created an automation project which automates the process of getting solution from stack overflow & stood among TOP 5 at UIPath RPA Hackathon 2020 
			  </li>
			  <li> 
				HashQuares: A tool aided with C++ & CMake to detect objects in an image using OpenCV.
			  </li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           	  Apex Core Team of "Prabuddha 2019"
  			</li>
  			<li>
  			  Lead at the "Quizzinga: The Official Quiz Club of KIET"
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
